<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practica pg</title>
</head>
<body>
    <h1>una imagen</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nesciunt ipsa id tempore maiores, dolores assumenda distinctio, quia doloremque aliquid pariatur exercitationem sequi error sed velit. Vero alias adipisci, ullam suscipit, sunt, incidunt dolores reiciendis iusto totam omnis officiis aut!</h3>

    <div><img src="/img/303px-Ada_Lovelace.jpg" alt=""></div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, ducimus.</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error quia ratione numquam dicta rem eaque molestiae.</p>

    <ul><li>item1</li>
    <li>item2</li>
    <li>item3</li>
    </ul>
    <ol><li>item1</li>
    <li>item2</li>
    <li>item3</li>
    </ol>
    <div><a href="https://www.google.com">ir a google</a></div>
    
</body>
</html>